Repository app-sre/container-images: changes, and which Tekton pipelines are due for each by the changed paths.
All: debug-container-master-on-pull-request, dynatrace-config-job-master-on-push, grafana-ubi-master-on-push, grafana-ubi9-master-on-push, jiralert-master-on-push, logrotate-master-on-push, msk-debug-container-3.6-master-on-push, msk-debug-container-3.7-master-on-pull-request, qontract-reconcile-builder-master-on-pull-request, qontract-reconcile-builder-master-on-push, rds-enhanced-metrics-exporter-master-on-push, wiremock-master-on-push

debug-container-master-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/app-sre-tenant/container-images-master/debug-container-master:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

dynatrace-config-job-master-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/app-sre-tenant/container-images-master/dynatrace-config-job-master:{{revision}}
  - name: dockerfile
    value: dynatrace-config-job/Dockerfile
  ...

grafana-ubi-master-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/app-sre-tenant/container-images-master/grafana-ubi-master:{{revision}}
  - name: dockerfile
    value: grafana-ubi/Dockerfile
  - name: path-context
  ...

grafana-ubi9-master-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/app-sre-tenant/container-images-master/grafana-ubi9-master:{{revision}}
  - name: dockerfile
    value: grafana-ubi9/Dockerfile
  - name: path-context
  ...

jiralert-master-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/app-sre-tenant/container-images-master/jiralert-master:{{revision}}
  - name: dockerfile
    value: jiralert/Dockerfile
  - name: path-context
  ...

logrotate-master-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/app-sre-tenant/container-images-master/logrotate-master:{{revision}}
  - name: dockerfile
    value: logrotate/Dockerfile
  - name: path-context
  ...

msk-debug-container-3.6-master-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/app-sre-tenant/container-images-master/msk-debug-container-master:{{revision}}
  - name: dockerfile
    value: msk-debug-container/Dockerfile
  ...

msk-debug-container-3.7-master-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/app-sre-tenant/container-images-master/msk-debug-container-master:on-pr-3.7-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

Red Hat Konflux update reloader-master
  .tekton/reloader-master-pull-request.yaml
  .tekton/reloader-master-push.yaml
Due: none

Red Hat Konflux update grafana-image-renderer-master
  .tekton/grafana-image-renderer-master-pull-request.yaml
  .tekton/grafana-image-renderer-master-push.yaml
Due: none

Add image for grafana-image-renderer
  .tekton/grafana-image-renderer-master-pull-request.yaml
  .tekton/grafana-image-renderer-master-push.yaml
  grafana-image-renderer/Dockerfile
  grafana-image-renderer/LICENSE
  grafana-image-renderer/README.md
Due: none

[APPSRE-13867] Use GIR_VERSION instead of VERSION
  grafana-image-renderer/Dockerfile
  grafana-image-renderer/README.md
Due: none

[APPSRE-13867] Move Chrome install to build stage
  grafana-image-renderer/Dockerfile
Due: none

Fix reloader VERSION ARG
  reloader/Dockerfile
  reloader/README.md
Due: none

[APPSRE-13867-1] Upgrade grafana image to v11.6.11, fixing timeout in render
  grafana-ubi/Dockerfile
Due: grafana-ubi-master-on-push

Release debug-container
  debug-container/VERSION
Due: debug-container-master-on-pull-request

chore(debug-container): replace VERSION file with konflux.additional-tags label
  debug-container/Dockerfile
  debug-container/VERSION
Due: debug-container-master-on-pull-request

Release debug-container 0.4.1
  debug-container/Dockerfile
Due: debug-container-master-on-pull-request

feat(qontract-reconcile-base)!: upgrade to Python 3.14 on UBI10
  qontract-reconcile-base/Dockerfile
Due: none

feat(qontract-reconcile-builder)!: upgrade to Python 3.14 on UBI10
  qontract-reconcile-builder/Dockerfile
Due: qontract-reconcile-builder-master-on-pull-request, qontract-reconcile-builder-master-on-push

feat(qontract-reconcile-base): add promtool 3.9.1
  qontract-reconcile-base/Dockerfile
Due: none

feat(qontract-reconcile-base): add promtool 3.9.1 (#307)
  qontract-reconcile-base/Dockerfile
Due: none

revert(qontract-reconcile-base): downgrade Python 3.14 back to 3.12
  qontract-reconcile-base/Dockerfile
Due: none

feat(qontract-reconcile-base): add promtool 3.9.1, drop 3.2.1
  qontract-reconcile-base/Dockerfile
Due: none

revert(qontract-reconcile-base): downgrade to Python 3.12, add promtool 3.9.1 (#308)
  qontract-reconcile-base/Dockerfile
Due: none

feat(debug-container): add platform-secret-checker SRE tool
  debug-container/Dockerfile
  debug-container/scripts/platform-secret-checker.sh
Due: debug-container-master-on-pull-request

feat(qontract-reconcile-base)!: re-enable Python 3.14 on UBI10
  qontract-reconcile-base/Dockerfile
Due: none

feat(qontract-reconcile-base)!: re-enable Python 3.14 on UBI10 (#310)
  qontract-reconcile-base/Dockerfile
Due: none

feat(qontract-reconcile-builder)!: bump base image to qontract-reconcile-base 2.2.0
  qontract-reconcile-builder/Dockerfile
Due: qontract-reconcile-builder-master-on-pull-request, qontract-reconcile-builder-master-on-push

feat(qontract-reconcile-builder)!: bump base image to qontract-reconcile-base 2.2.0 (#311)
  qontract-reconcile-builder/Dockerfile
Due: qontract-reconcile-builder-master-on-pull-request, qontract-reconcile-builder-master-on-push

chore(debug-container): bump version to trigger Konflux build for ECP validation
  debug-container/Dockerfile
Due: debug-container-master-on-pull-request

chore(debug-container): bump version to trigger Konflux build for ECP validation (#313)
  debug-container/Dockerfile
Due: debug-container-master-on-pull-request

fix(rds-enhanced-metrics-exporter): pin full commit SHA for shallow clone
  rds-enhanced-metrics-exporter/Dockerfile
Due: rds-enhanced-metrics-exporter-master-on-push

fix(rds-enhanced-metrics-exporter): pin full commit SHA for shallow clone (#314)
  rds-enhanced-metrics-exporter/Dockerfile
Due: rds-enhanced-metrics-exporter-master-on-push

trigger new build to fix attestations
  logrotate/Dockerfile
Due: logrotate-master-on-push

trigger new build to fix attestations (#315)
  logrotate/Dockerfile
Due: logrotate-master-on-push

chore: trigger rebuild of stale images for trusted-tasks ECP
  dynatrace-config-job/Dockerfile
  grafana-image-renderer/Dockerfile
  grafana-ubi/Dockerfile
  jiralert/Dockerfile
  msk-debug-container/Dockerfile
Due: debug-container-master-on-pull-request, dynatrace-config-job-master-on-push, grafana-ubi-master-on-push, jiralert-master-on-push, msk-debug-container-3.6-master-on-push, msk-debug-container-3.7-master-on-pull-request

chore: trigger rebuild of more stale images for trusted-tasks ECP
  qontract-reconcile-builder/Dockerfile
  qontract-reconcile-oc/Dockerfile
  reloader/Dockerfile
  wiremock/Dockerfile
Due: qontract-reconcile-builder-master-on-pull-request, qontract-reconcile-builder-master-on-push, wiremock-master-on-push

chore: trigger rebuild of logrotate and rds-enhanced-metrics-exporter
  logrotate/Dockerfile
  rds-enhanced-metrics-exporter/Dockerfile
Due: logrotate-master-on-push, rds-enhanced-metrics-exporter-master-on-push

chore: trigger rebuild of stale images for trusted-tasks ECP (#322)
  dynatrace-config-job/Dockerfile
  grafana-image-renderer/Dockerfile
  grafana-ubi/Dockerfile
  jiralert/Dockerfile
  logrotate/Dockerfile
  msk-debug-container/Dockerfile
  qontract-reconcile-builder/Dockerfile
  qontract-reconcile-oc/Dockerfile
  rds-enhanced-metrics-exporter/Dockerfile
  reloader/Dockerfile
  wiremock/Dockerfile
Due: debug-container-master-on-pull-request, dynatrace-config-job-master-on-push, grafana-ubi-master-on-push, jiralert-master-on-push, logrotate-master-on-push, msk-debug-container-3.6-master-on-push, msk-debug-container-3.7-master-on-pull-request, qontract-reconcile-builder-master-on-pull-request, qontract-reconcile-builder-master-on-push, rds-enhanced-metrics-exporter-master-on-push, wiremock-master-on-push

fix(qontract-reconcile-base): bump Helm to 3.19.4
  qontract-reconcile-base/Dockerfile
Due: none

Prometheus CloudWatch Exporter
  .tekton/prometheus-cloudwatch-exporter-master-pull-request.yaml
  .tekton/prometheus-cloudwatch-exporter-master-push.yaml
  prometheus-cloudwatch-exporter/Dockerfile.hi
  prometheus-cloudwatch-exporter/Makefile
  prometheus-cloudwatch-exporter/README.md
  prometheus-cloudwatch-exporter/test-config.yml
Due: none

chore(qontract-reconcile-base): bump image version to 2.2.1
  qontract-reconcile-base/Dockerfile
Due: none

Fix/patch CVE helm oc (#321)
  qontract-reconcile-base/Dockerfile
Due: none

chore(qontract-reconcile-builder): bump base image to qontract-reconcile-base 2.2.1
  qontract-reconcile-builder/Dockerfile
Due: qontract-reconcile-builder-master-on-pull-request, qontract-reconcile-builder-master-on-push

chore(qontract-reconcile-builder): bump base image to qontract-reconcile-base 2.2.1 (#326)
  qontract-reconcile-builder/Dockerfile
Due: qontract-reconcile-builder-master-on-pull-request, qontract-reconcile-builder-master-on-push

Prometheus CloudWatch Exporter
  .tekton/prometheus-cloudwatch-exporter-master-pull-request.yaml
  .tekton/prometheus-cloudwatch-exporter-master-push.yaml
  prometheus-cloudwatch-exporter/Dockerfile
  prometheus-cloudwatch-exporter/Makefile
  prometheus-cloudwatch-exporter/README.md
  prometheus-cloudwatch-exporter/test-config.yml
Due: none

Path conditions:
  debug-container-master-on-pull-request: any of: debug-container/|.tekton/debug-container-master-pull-request.yaml|.tekton/debug-container-master-push.yaml
  dynatrace-config-job-master-on-push: any of: dynatrace-config-job/|.tekton/dynatrace-config-job-master-pull-request.yaml|.tekton/dynatrace-config-job-master-push.yaml
  grafana-ubi-master-on-push: any of: grafana-ubi/|.tekton/grafana-ubi-master-pull-request.yaml|.tekton/grafana-ubi-master-push.yaml
  grafana-ubi9-master-on-push: any of: grafana-ubi9/|.tekton/grafana-ubi9-master-pull-request.yaml|.tekton/grafana-ubi9-master-push.yaml
  jiralert-master-on-push: any of: jiralert/|.tekton/jiralert-master-pull-request.yaml|.tekton/jiralert-master-push.yaml
  logrotate-master-on-push: any of: logrotate/|.tekton/logrotate-master-pull-request.yaml|.tekton/logrotate-master-push.yaml
  msk-debug-container-3.6-master-on-push: any of: msk-debug-container/|.tekton/msk-debug-container-master-pull-request.yaml|.tekton/msk-debug-container-master-push.yaml
  msk-debug-container-3.7-master-on-pull-request: any of: msk-debug-container/|.tekton/msk-debug-container-kafka-3.6-master-pull-request.yaml|.tekton/msk-debug-container-kafka-3.6-master-push.yaml|.tekton/msk-debug-container-kafka-3.7-master-pull-request.yaml|.tekton/msk-debug-container-kafka-3.7-master-push.yaml
  qontract-reconcile-builder-master-on-pull-request: any of: qontract-reconcile-builder/|.tekton/qontract-reconcile-builder-master-pull-request.yaml|.tekton/qontract-reconcile-builder-master-push.yaml
  qontract-reconcile-builder-master-on-push: any of: qontract-reconcile-builder/|.tekton/qontract-reconcile-builder-master-pull-request.yaml|.tekton/qontract-reconcile-builder-master-push.yaml
  rds-enhanced-metrics-exporter-master-on-push: any of: rds-enhanced-metrics-exporter/|.tekton/rds-enhanced-metrics-exporter-master-pull-request.yaml|.tekton/rds-enhanced-metrics-exporter-master-push.yaml
  wiremock-master-on-push: any of: wiremock/|.tekton/wiremock-master-pull-request.yaml|.tekton/wiremock-master-push.yaml
